doctype
html
    head
        title Garkbit - Gallery Management

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/main.css')

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='description', content='Garkbit!')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        style(data-aphrodite type="text/css").
            #{css.content}
    body
        #app!= content
        script(type='text/javascript').
            window.__INITIAL_STATE__ = !{JSON.stringify(initialState)};
        script(src='/js/garkbit.js')
