html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: arial, sans-serif;
}

.gallery-form {
    padding-bottom: 20px;
}
.gallery {
    padding-bottom: 10px;
}
.gb-inline-gallery {
    display: block;
    clear: both;
    width: 100%;
}
.gb-thumbnail-wrapper {
    float: left;
    border: 1px solid black;
    margin: 5px;
}
.gb-thumbnail-wrapper img {
    display: block;
    margin: 0;
}
